<header id="header" class="okayNav-header">
    <div class="container">
        <a class="okayNav-header__logo pull-left" href="#">
            <img src="assets/images/logo.png" alt="" width="50">
        </a>
        <nav role="navigation" id="nav-main" class="okayNav pull-right">
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li><a routerLink="/service">Services</a></li>
                <li><a routerLink="/contact">Contacts</a></li>
                <li><a routerLink="/about">About us</a></li>
                <li><a routerLink="/login">Login</a></li>
                <li class="postadd nav-item">
                    <a class="btn btn-block btn-border btn-post btn-danger nav-link" routerLink="/signup">Signup</a>
                </li>
            </ul>
        </nav>
    </div>
</header><!-- /header -->